<div *ngIf="products$ | async as products">
  <div *ngIf="products.length === 0">
    <div class="modal_car">
      <div class="modal_car-description">
        <p>producto vacio</p>
      </div>
      <div class="modal_car-button">
        <button>
          cerrar
        </button>
      </div>
    </div>
  </div>

  <!-- <a routerLink="/order" mat-raised-button mat-mat-dialog-close="false">
  <mat-icon>shopping_cart</mat-icon>
  pagar
</a> -->
  <!-- <mat-dialog-actions>
    <button routerLink="/order" mat-button mat-raised-button mat-dialog-close>
      cerrar
    </button>
  </mat-dialog-actions> -->
</div>
