<mat-toolbar color="warn">
    <div class="container">
            <div class="heder-row">
                <div class="logo">
                  <img src="./../../../../assets/img/logo.png" alt="">    
                </div>
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <mat-icon>search</mat-icon>
                   </button>
                 </div>
                <nav>
                    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                    <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
                    <a mat-button routerLink="/contact" routerLinkActive="active">Contac</a>
                    <a routerLink="/order" mat-raised-button  matBadgeColor="accent">
                        <mat-icon>shopping_cart</mat-icon>
                        Carrito
                    </a>
                </nav>
            </div>
    </div>
</mat-toolbar>
