<div class="swiper-container one">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor= "let img of images">
      <a href="">
        <div class="title-banner">
          <p class="title-big-banner">Casaca Newyell</p>
          <p class="banner-description">Lo nuevo de temporada invierno</p>
          <div class="btn-adqui">
           COMPRAR AHORA
          </div>
        </div>
         <img [src]= "img" alt="imagen de banner">
        </a> 
      </div>
      <!-- Add Pagination -->
  </div>
  <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

