<div class="swiper-container one">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of products">
      <a routerLink="/products">
        <div class="title-banner">
          <p class="title-big-banner">{{ product.nombre }}</p>
          <p class="banner-description">Lo nuevo de temporada invierno</p>
          <div class="btn-adqui">
            COMPRAR AHORA
          </div>
        </div>
        <img src="{{ product.fotoportada }}" alt="imagen dedfsgsd banner" />
      </a>
    </div>

    <!-- Add Pagination -->
  </div>
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
