

.imgbanner{
  width: 100%;
}

.bannerslider{
  padding-bottom: 35px;
  
}
.img-baner-pro{
  border: 2px solid #683ab79f;
  padding-bottom: 20px;
}

.title-bpro{
  text-align: center;
}

.title-big-bpro{
  padding-top: 13px;
    font-weight: 800;
    font-size: 20px;
}

.btn-bpro{
  border: 2px solid #673ab7;
  display: inline-block;
  padding: 8px;
  color: #673ab7;
  font-weight: 600;
  font-size: 17px;
}