<div class="swiper-container two">
  <div class="swiper-wrapper">
    <div class="swiper-slide bannerslider" *ngFor= "let img of imagespro">
        <div class="">
          <img class="imgbanner" [src]= "img" alt="imagen de banner">
          <div class="title-bpro">
            <p class="title-big-bpro">Casaca Newyell</p>
            <p class="bpro-description">Lo nuevo de temporada invierno</p>
            <div class="btn-bpro">
            COMPRAR AHORA
            </div>
          </div>
        </div>
     </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
