.mat-tab-group{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 55px 0 0 0;
}

.label-login{
  padding: 25px  0 0 0;
}

.login-camp{
  display: inline-block;
  padding: 15px 15px  0 15px;
  margin: 0;
}

.mat-tab-login{
  width: 50% ;
}
.final {
  padding: 0 !important;
}

.mat-form-field {
  padding: 0;
}

.mat-form-field {
  width: 250px;
}
.mat-form-field .mat-form-field-infix {
  width: 4005px;
}
.button-row{
  padding: 15px;
  padding-bottom: 25px;
}

.button-row-redes{
  padding: 25px;
  border-top:1px solid #dcdcdc;
}
.btn-login{
  width: 100%;
}
.login-redes{
  width: 48%;
  margin: 0 5px;
  
}



.login-redes.facebook{
 background-color: #0062b3;
 color: white;
}