
<div class="container">
  <mat-drawer-container class="container-navigation">
    <mat-drawer mode="side" opened>
      <div class="row-btn">
        <mat-list role="list">
          <mat-list-item role="listitem">Categorias</mat-list-item>
          <mat-list-item role="listitem">Ropa Dog</mat-list-item>
          <mat-list-item role="listitem">Accesorios</mat-list-item>
          <mat-list-item role="listitem">Jugutes</mat-list-item>
        </mat-list>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>